<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/page1">Add a public event</a></li>
      <li><a href="/page2">Add a private event</a></li>
      <li><a href="/myeves">my events</a></li>
      <li><a href="/events">view all events</a></li>
      <li><a href="/profile">profile</a></li>
      <li><a href="/login">login</a></li>
      <li><a href="/signup">signup</a></li>
      <li><a href="/invitedevents">invited events</a></li>
    </ul>
  </div>
</nav>